<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="coderbyheart">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.harmony.name }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.harmony.meta_description }}{% endif %}">
<meta name="twitter:creator" content="coderbyheart">
<meta name="twitter:image:src" content="{% if page.photo %}{{ page.photo }}{% else %}{{ site.harmony.photo }}{% endif %}">
