---
layout: default
---

<div class="page-content wc-container">

  <div class="post">
    <h1>{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    <div class="post">
      {{ content }}
    </div>
  </div>

  <div class="sharing">
    <h2>Share this post</h2>
    <p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="{% if page.tweet %}{{ page.tweet }}{% else %}{{ page.title }}{% endif %}" data-via="coderbyheart" data-related="coderbyheart" data-lang="en" data-show-count="false">Tweet</a>
      <a href="http://news.ycombinator.com/submit" class="hn-share-button">Vote on HN</a>
    </p>
  </div>

  <hr>

  {% include disqus.html %}

  {% if site.related_posts %}
  <div class="related">
    <h4>Related Posts</h4>
    <ul class="posts">
      {% for post in site.related_posts limit:3 %}
      <li>
        <span>{{ post.date | date_to_string }} &raquo;</span>
        <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="post-footer">
    <div class="column-1">
      {% if page.previous %}
      <a href="{{page.previous.url | prepend: site.url }}">&lt;&lt; Older</a>
      {% else %}
      <span>&lt;&lt; Older</span>
      {% endif %}
    </div>
    <div class="column-2"><a href="{{ '/' | prepend:site.baseurl | prepend:site.url }}">Home</a></div>
    <div class="column-3">
      {% if page.next %}
      <a href="{{ page.next.url | prepend: site.url }}">Newer &gt;&gt;</a>
      {% else %}
      <span>Newer &gt;&gt;</span>
      {% endif %}
    </div>
  </div>
</div>

<script async defer charset="utf-8" src="//platform.twitter.com/widgets.js"></script>
<script async defer charset="utf-8" src="//hnbutton.appspot.com/static/hn.min.js"></script>
